<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Medrupaloscil{% endblock %}</title>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>