{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} - contact
{% endblock %}

{% block contactActive %}
    class="active"
{% endblock %}

{% block body %}
    <div id="featured">
        <div class="container">
            <div class="row">
                <div class="12u">
                    <section>
                        <header>
                            <h2>Contact</h2>
                        </header>
                        <form action="" method="post">
                            <input type="text" placeholder="E-Mail"><br>
                            <textarea>Message...</textarea><br>
                            <input type="submit">
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}